.vs/
DotNetTips/DotNetTips.2021.001/bin/
DotNetTips/DotNetTips.2021.001/obj/
WindowsFormsAppCalculadoraConceitual/WindowsFormsAppCalculadoraConceitual/bin/
WindowsFormsAppCalculadoraConceitual/WindowsFormsAppCalculadoraConceitual/obj/
*.user
